* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 400px;
    transform: translate(-50%, -50%);
    display: flex;
    background: transparent; /* 确保背景透明 */
}

.rectangle-left {
    width: 70%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.7);
    border-radius: 30px 0 0 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(10, 10, 10, 0.5);
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 40px;
}

.rectangle-right {
    width: 30%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.4);
    border-radius: 0 30px 30px 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 5px rgba(10, 10, 10, 0.5);
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
}

.line {
    width: 300px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    mix-blend-mode: overlay;
    margin-top: 5px;
    margin-right: 50px;
}

.text {
    font-family: 'Space Mono', monospace;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-right: 50px;
    filter: drop-shadow(2px 2px 1px rgba(10, 10, 10, 0.1));
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 50px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 35px;
    height: 25px;
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.1));
}

.icon-base {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.input-box {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(240, 240, 240, 0.5);
    padding: 010px;
    margin-bottom: 20px;
    background-color: rgba(61, 61, 61, 0.6);
    mix-blend-mode: overlay;
    color: white;
    font-family: 'Space Mono', monospace;
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.1));
}
.input-box:last-child {
    margin-bottom: 0;
}
.input-box:focus {
    border-color: rgba(195, 195, 195, 0.5);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.input-box::placeholder {
    color: rgba(202, 202, 202, 0.5);
}

.submit-button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    align-self: center;
    background-color: rgba(170, 170, 170, 0.2);
    color: white;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    letter-spacing: 5px;
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.3));
    border: 0.1px solid rgba(255, 255, 255, 0.2);
}

.submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.modal {
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
}

.modal-content {
    background-color: #cecece38;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.3));
    width: 60%;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s ease;
}

.modal.show {
    transform: translateY(0);
    opacity: 1;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.close {
    position:absolute;
    right:20px;
    top:20px;
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035), opacity 0.2s ease; 
}

.close:hover,
.close:focus {
    color: rgb(39, 39, 39);
    text-decoration: none;
    cursor: pointer;
}

#confirm-button {
    background-color: #dcdcdc2d;
    font-family:  'Space Mono', monospace;
    backdrop-filter: blur(2px);
    color: white;
    margin-top: 20px;
    margin-left: 150px;
    padding: 5px 20px;
    border: 1px solid #f4f4f49f;
    filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.3));
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

#confirm-button:hover {
    background-color: #85858578;
}